<h1 mat-dialog-title class="topic">Change Password</h1>
<div mat-dialog-content class="subtopics">
	<div *ngIf="isShowSuccess" class="success-status">
        <strong>Success!</strong> {{errorMsg}}
    </div>
	<div *ngIf="isShowError" class="error-status">
        <strong>Error!</strong> {{errorMsg}}
    </div>
	<p>Old password</p>
	<mat-form-field class="inputs">
		<input matInput [type]="isShowOldPasswd ? 'text' : 'password'" [(ngModel)]="data.oldPasswd" (focus)="isShowError = false; isShowSuccess = false">
		<button mat-button *ngIf="data.oldPasswd" matSuffix mat-icon-button aria-label="show" (click)="onShowOldPasswd()">
        	<mat-icon>{{oldPasswdVisible}}</mat-icon>
        </button>
	</mat-form-field>
	<p>New password</p>
	<mat-form-field class="inputs">
		<input matInput [type]="isShowNewPasswd ? 'text' : 'password'" [(ngModel)]="data.newPasswd" (focus)="isShowError = false; isShowSuccess = false">
		<button mat-button *ngIf="data.newPasswd" matSuffix mat-icon-button aria-label="show" (click)="onShowNewPasswd()">
        	<mat-icon>{{newPasswdVisible}}</mat-icon>
        </button>
	</mat-form-field>
	<p>Confirm password</p>
	<mat-form-field class="inputs">
		<input matInput [type]="isShowConfirmPasswd ? 'text' : 'password'" [(ngModel)]="data.confirmPasswd" (focus)="isShowError = false; isShowSuccess = false">
		<button mat-button *ngIf="data.confirmPasswd" matSuffix mat-icon-button aria-label="show" (click)="onShowConfirmPasswd()">
        	<mat-icon>{{confirmPasswdVisible}}</mat-icon>
        </button>
	</mat-form-field>
</div>
<div mat-dialog-actions class="buttons">
	<button  mat-stroked-button (click)="onConfirm()" [disabled]="isProcessingPasswd"  class="buttons">OK</button>
	<button mat-stroked-button (click)="onClose()"  class="buttons">Close</button>
</div>